@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Oxygen+Mono&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Oxygen Mono";
}

body {
    font-size: 14px;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    max-width: 1100px;
    padding: 0 20px;
    margin: auto;
}

.container-logo {
    display: flex;
    align-items: center;
}

.container-logo i {
    color: #424e66;
    font-size: 50px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #424e66;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    color: #000000;
}

.my-button {
    padding: 10px 20px;
    background-color: #424e66;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.my-button:hover {
    background-color: #424e66;
}

.my-button:active {
    background-color: #424e66;
}

/*Login  */
.login {
    height: 100vh;
    max-width: 1100px;
    padding: 0 20px;
    margin: auto;
}

.login .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
}


.login .img-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .img-login img {
    width: 500px;
    margin-left: 10px;
}

.login .componente {
    text-align: justify;
    font-size: 20px;
    padding-left: 80px;
    margin: 10px;
}

.componente h2 {
    text-align: left;
}

.componente .formulario {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.componente form {
    margin-top: 30px;
}

.componente form .entrada {
    text-align: justify;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px 5px;
    border: solid #424e66 2px;
    width: 410px;
}

.componente form .entrada label {
    display: flex;
    color: #424e66;
    font-size: 14px;
    line-height: 14px;

}

.componente form .entrada input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #424e66;
    width: 100%;
}

.componente .btn {
    background-color: #424e66;
    border: none;
    padding: 10px 25px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    width: 410px;
}

.componente .footer-login p {
    padding: 20px 0px;
    color: #424e66;
    text-align: justify;
    font-size: 14px;
}

/* section 2 */

.info {
    height: 50vh;
    background: #424e66;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;

}

.info .container {
    padding: 40px 20px;
    max-width: 1100px;
    margin: auto;

}

.container .juntos {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: justify;
}

.container .juntos h1 {
    font-size: 30px;

}

.container .juntos .parafoizq p {
    text-align: left;
    margin-left: 300px;
}

.info .container .parrafo-fotter {
    text-align: justify;
    padding: 40px 0px;


}

/* section 3 */
.curriculum {
    height: 70vh;
    max-width: 1100px;
    padding: 60px 20px;
    margin: auto;
}

.curriculum .container {
    max-width: 1100px;
    margin: auto;
    color: #424e66;
}

.curriculum .container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.curriculum .container .col-izquierda {
    width: 49%;
    padding: 20px 20px;
}

.curriculum .container .col-derecha {
    width: 49%;
    padding: 20px 20px;
}

.curriculum .container .col-derecha h1 {
    margin-bottom: 30px;
}

.curriculum .container .col-izquierda {
    border-right: 2px solid #252a2e;
}

.curriculum .container .balanced {
    margin-bottom: 30px;
    position: relative;
}

.curriculum .container .balanced {
    line-height: 24px;
}

.curriculum .col-derecha .juntos {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

.curriculum .col-derecha .juntos p {
    margin-left: 20px;
}

/* section 4 */
/*PRODUCTOS*/

.productos {
    height: 100vh;
    background: #bdc2ca44;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #424e66;
}

.productos .container {
    padding: 40px 20px;
    max-width: 1100px;
    margin: auto;
}

.container .title {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.primerdiv .text-container {
    background-color: #b1a8a89d;
}

.primerdiv .text-container h2 {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}

.primerdiv .text-container p {
    text-align: center;
    padding: 10px;
}

.segundodiv .text-container p {
    text-align: center;
    padding: 10px;
}

.segundodiv .text-container h2 {
    margin-top: 20px;
    text-align: center;
    padding-left: 10px;
}

.segundodiv .text-container {
    background-color: #b1a8a89d;
}

.primerdiv,
.segundodiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #d2d5db;
}

.primerdiv .image-container,
.segundodiv .text-container,
.primerdiv .text-container,
.segundodiv .image-container {
    width: 45%;
    margin: 10px;
}

.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.image-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: inline-block;
}

.text-container {
    padding: 20px;
}


.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding-inline: 10px;
}


.text-container {
    padding: 20px;
}

/* section 5 */

.datos {
    height: 100vh;
    max-width: 1100px;
    padding: 0 20px;
    margin: auto;
}

.datos .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
    color: #424e66;
}

.container .info1 {
    padding: 20px;
}

.container .info1 .caja6 h3 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.container .info1 .caja7 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container .info1 .caja7 p {
    margin-left: 20px;
}

/*GRAFICOS*/
#graficos {
    height: 100vh;
    max-width: 1100px;
    padding: 0 20px;
    margin: auto;
}

#graficos .contenedor {
    padding: 40px 20px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graficos-cabecera h3,
.graficos-cabecera p {
    padding: 10px;
    text-align: center;
}

.graficos-cabecera h3 {
    font-size: 35px;
}

.grafico-pie {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.grafico {
    background-image: url("img/grafico.jpg");
    /* Replace with a relative path or base URL if needed */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 0px 50px;
}

.grafico-div1,
.grafico-div2 {
    display: flex;
}

.grafico-div1 div,
.grafico-div2 div {
    margin: 10px;
    background-color: #402039;
    border-radius: 10px;
    padding: 10px;
    color: #E2FCEF;
}



/* section 7 */

.testimonio {
    height: 100vh;
    background: #424e66;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;

}

.testimonio .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
    max-width: 1100px;
    margin: auto;
}

.testimonio .parrafo .encabe {
    text-align: left;
    font-size: 20px;
}

.container .parrafo .caja {
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: left;
    margin-right: 40px;
}

.testimonio .img-test {
    display: flex;
    justify-content: center;
    align-items: center;
}


.testimonio .img-test img {
    width: 500px;
    margin-left: 10px;
}

.parrafo .btn {
    background-color: #ffffff;
    border: none;
    padding: 10px 25px;
    color: #424e66;
    border-radius: 10px;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
}

.footer>* {
    flex: 1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: #999;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: #999;
}

.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}

.legal__links {
    display: flex;
    align-items: center;
}

.heart {
    color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav>* {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}